```html

<div th:fragment="head-style" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../../webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/standard.css" rel="stylesheet">
</div>


<div th:fragment="body-links"  xmlns:th="http://www.w3.org/1999/xhtml">
    <script src="../../webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../webjars/jquery/1.9.1/jquery.min.js"></script>
</div>

```
